@import "tailwindcss";


@layer base {
  @font-face {
    font-family: "jersey";
    src: url("/jersey.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@theme {
  --font-jersey: "jersey", sans-serif;
}